@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(34, 78, 9);
  color: white;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  height: 100px;
  width: 100px;
}

.category {
  border: 2px solid gray;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.category img {
  margin-left: 10px;
}

.category-active {
  border: 2px solid green;
  background-color: rgba(128, 128, 128, 0.501);
}

/* ========= register page ================ */

.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.register input {
  width: 400px !important;
}

.regsiter-form {
  padding: 20px;
  border-radius: 20px;
  background: aliceblue;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.regsiter-form h1 {
  text-align: center;
  background-color: rgb(2, 2, 75);
  color: white;
  padding: 10px;
}


.register input{
  padding: 8px 8px 8px 14px;
  border-radius: 15px;
  
}
.register input:hover,.register  input:focus{
  border-color: black;
  box-shadow: none;
}


.register button.ant-btn{
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);;
}
.register .d-flex.justify-content-between{align-items: center;}

.login--register-heading{ color: #003366;font-size: 35px; font-weight: 600; text-align: center; transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);}

.register .not-a-user{flex-direction: column; gap: 22px;}
.register .not-a-user p{order: 2; font-size: 15px;}
.register .not-a-user p a{font-size: 13px; margin-left: 5px; color: #004080;}
.register .not-a-user p a:hover{text-decoration: underline;}
.register .not-a-user button{width: 100%; padding: 12px; border-radius: 10px; height: auto;}

@media screen and (max-width:767px) {
  .regsiter-form{max-width: 350px; width: 100%; margin: auto; border-radius: 20px;}
  .regsiter-form input{width: 300px !important;}
}